<div>
    <div class="modal-header">
        <h3 class="modal-title">Details for Table #<span data-ng-bind="table.number"></span></h3>
    </div>
    <div class="modal-body">
        <form name="forms.tableForm" novalidate>

            <div class="row">
                <div class="col-md-12">
                    <label>Status:</label>&nbsp;
                    <span data-ng-bind="table.state"></span>
                </div>
            </div>


            <div class="page-header">
                <h4>Order</h4>
            </div>

            <div class="row" data-ng-show="noOrderAssigned()">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        No order currently assigned to this table. <a data-ng-click="assignNewOrder()">Assign a new
                        order...</a>
                    </div>
                </div>
            </div>
            <div data-ng-show="orderAssigned()">
                <div class="row">
                    <div class="col-md-12">
                        <label>State:</label>&nbsp;
                        <span data-ng-bind="table.order.orderState"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Order Positions:</label>&nbsp;
                    </div>
                    <div class="col-md-4">
                        <ui-select ng-model="model.selected">
                            <ui-select-match placeholder="Select offer...">{{$select.selected.description}}
                            </ui-select-match>
                            <ui-select-choices repeat="o in allOffers | filter: $select.search">
                                <div ng-bind-html="trustAsHtml((o.description | highlight: $select.search))"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-sm btn-primary" data-ng-click="addPosition(model.selected)">+Add</button>
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table-striped raw-table" tr-ng-grid=""
                               selection-mode="SingleRow"
                               enable-filtering="false"
                               selected-items="selectedItems"
                               items="model.order.positions">
                            <thead>
                            <tr>
                                <th field-name="id" display-name="Number" cell-width="7em"></th>
                                <th field-name="offerName" display-name="Title"></th>
                                <th field-name="state" display-name="Status"></th>
                                <th field-name="price" display-name="Price" display-format="price:gridItem"></th>
                                <th field-name="comment" display-name="Comment"></th>
                            </tr>
                            </thead>
                        </table>

                        <button-bar button-defs="buttonDefs"></button-bar>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-disabled="!model.order" ng-click="submit()" translate>
            TABLE_MGMT.SUBMIT
        </button>
        <button class="btn btn-warning" ng-click="$close()" translate>TABLE_MGMT.CANCEL</button>
    </div>
</div>