<div>
    <form name="loginForm" novalidate valdr-type="LoginData">
    <div class="modal-header">
        <h3 class="modal-title">Sign In</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <ng-include src="'main/sign-in/sign-in-alert.html'"></ng-include>
                <ng-include src="'main/sign-in/sign-in-inputs.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" data-ng-click="SIC.signIn()">Sign In</button>
        <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
    </div>
    </form>
</div>
