<div ng-controller="Example2Ctrl as E2C">
    <h2>{{'OASP.VALIDATION.SHOWCASE.EXAMPLE2.NAME' | translate}}</h2>

    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <p>{{'OASP.VALIDATION.SHOWCASE.EXAMPLE2.DESCRIPTION' | translate}}</p>
            <p>{{'OASP.VALIDATION.SHOWCASE.EXAMPLE2.EXPLANATION' | translate}}</p>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <form name="example2Form" novalidate>

                <div class="form-group">
                    <label>{{'OASP.VALIDATION.SHOWCASE.EXAMPLE.USER.LABEL' | translate}}</label>

                    <div  with-validation-messages="E2C.customMessageRepo.userName">
                        <input type="text" name="userName" class="form-control"
                               data-ng-model="E2C.userName"
                               required="true" ng-maxlength="20"
                               placeholder="{{'OASP.VALIDATION.SHOWCASE.EXAMPLE.USER.PLACEHOLDER' | translate}}">
                    </div>
                </div>

                <div class="form-group">
                    <label>{{'OASP.VALIDATION.SHOWCASE.EXAMPLE.PASSWORD.LABEL' | translate}}</label>

                    <div  with-validation-messages="E2C.customMessageRepo.password">
                        <input type="password" name="password" class="form-control"
                               data-ng-model="E2C.password"
                               required="true"
                               placeholder="{{'OASP.VALIDATION.SHOWCASE.EXAMPLE.PASSWORD.PLACEHOLDER' | translate}}">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
