<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css({.tmp,app}) css/oasp.css -->
    <link rel="stylesheet" href="css/oasp.css"/>
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
    <!-- endbuild -->
    <!-- build:js js/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/respond/respond.min.js"></script>
    <!-- endbuild -->
</head>
<body data-ng-app="app" data-ng-controller="AppCntl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to
    improve your experience.</p>
<![endif]-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Restaurant Sample Application</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="ng-cloak nav navbar-nav" data-ng-show="currentUser.isLoggedIn()">
                <li><a href="#table-mgmt/table-search">Tables</a></li>
            </ul>
            <div class="ng-cloak navbar-right" data-ng-show="currentUser.isLoggedIn()">
                <span class="navbar-text"><span data-ng-bind="'OASP.LOGGED_IN_AS' | translate"></span>:&nbsp;<span
                        data-ng-bind="currentUser.getUserName()"></span></span>
                <button data-ng-click="logOff()" class="btn navbar-btn btn-sm btn-info">Log Off</button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown language-dropdown" ng-controller="LanguageChangeCntl">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-container"><span
                            class="icon icon-{{getCurrentLanguage()}}-24"></span></span><span data-ng-bind="'OASP.LANGUAGE' | translate"></span><span
                            class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="lang in supportedLanguages" ng-show="getCurrentLanguage()!=lang.key">
                            <a dropdown-toggle="" ng-click="changeLanguage(lang.key)">
                                <span class="icon icon-{{lang.key}}-24"></span>{{lang.label}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div ng-view>
    </div>
    <hr>
    <footer>
        <p>&copy; OASP 2014</p>
    </footer>
</div>
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-ui-select/dist/select.js"></script>
<script src="bower_components/spin.js/spin.js"></script>
<script src="bower_components/angular-spinner/angular-spinner.js"></script>
<script src="bower_components/autofill-event/src/autofill-event.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) js/sample-app.js -->
<script src="js/app.js"></script>
<script src="js/app-templates.js"></script>

<script src="js/oasp-ui/oasp-ui.js"></script>

<script src="js/main/main.js"></script>
<script src="js/main/controllers/sign-in.js"></script>
<script src="js/main/controllers/sign-in-modal.js"></script>
<script src="js/main/controllers/app.js"></script>
<script src="js/main/controllers/language-change.js"></script>
<script src="js/main/services/sign-in.js"></script>
<script src="js/main/services/current-context-path.js"></script>
<script src="js/main/services/app-context.js"></script>
<script src="js/main/services/security-rest-service.js"></script>
<script src="js/main/services/authenticator.js"></script>

<script src="js/oasp-ui/directives/oasp-grid.js"></script>
<script src="js/oasp-ui/directives/spinner.js"></script>
<script src="js/oasp-ui/services/modal.js"></script>
<script src="js/oasp-ui/services/global-spinner.js"></script>
<script src="js/oasp-security/oasp-security.js"></script>
<script src="js/oasp-security/services/security.js"></script>
<script src="js/oasp-security/services/security-interceptor.js"></script>
<script src="js/oasp-security/services/request-resending-queue.js"></script>


<script src="js/table-mgmt/table-mgmt.js"></script>
<script src="js/table-mgmt/controllers/table-search.js"></script>
<script src="js/table-mgmt/controllers/table-details.js"></script>
<script src="js/table-mgmt/services/tables.js"></script>
<script src="js/table-mgmt/services/table-management-rest-service.js"></script>

<script src="js/offer-mgmt/offer-mgmt.js"></script>
<script src="js/offer-mgmt/services/offers.js"></script>
<script src="js/offer-mgmt/services/offer-management-rest-service.js"></script>

<script src="js/sales-mgmt/sales-mgmt.js"></script>
<script src="js/sales-mgmt/services/sales.js"></script>
<script src="js/sales-mgmt/services/sales-management-rest-service.js"></script>
<!-- endbuild -->

<!-- build:remove -->
<script src="//localhost:35729/livereload.js"></script>
<!-- endbuild -->
<div data-spinner="globalSpinner"></div>
</body>
</html>
