<div>
    <form name="loginForm" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Sign In</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <alert data-ng-show="errorMessage.hasOne()" data-close="errorMessage.clear()" data-type="danger">
                    <span data-ng-bind="errorMessage.text"></span>
                </alert>
                <p>
                     <span class="label label-danger" data-ng-show="validation.userNameNotProvided()">Please enter your user name!</span>
                     <input type="text" placeholder="User Name" name="userName" class="form-control" data-ng-model="credentials.username" data-ng-required="true">
                </p>
                <p>
                    <span class="label label-danger" data-ng-show="validation.passwordNotProvided()">Please enter your password!</span>
                    <input type="password" placeholder="Password" name="password" class="form-control" data-ng-model="credentials.password" data-ng-required="true">
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" data-ng-click="signIn()">Sign In</button>
        <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
    </div>
    </form>
</div>