@import "bower_components/bootstrap/less/bootstrap";
@import "main/css/variables";
@import "main/css/mixins";

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.language-dropdown {
  .icon-container {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    vertical-align: middle;
    width: 24px;
    .icon {
      position: absolute;
      top: -12px;
      left: 0px;
    }
  }
  .icon {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
  }
}


.table-striped {
  tbody {
    > tr.selected-row > td {
      background-color: @brand-info;
    }
  }
  & * {
    .user-select(none);
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
